@model TheGarage.Web.Models.CompanyRegisterViewModel


@using (Html.BeginForm("CompanyRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create company account</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group k-content">
        @Html.LabelFor(m => m.States, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownList()
              .Name("states")
              .OptionLabel("Select state...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeState", "Account");
                  });
              })
            )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cities, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownList()
              .Name("cities")
              .OptionLabel("Select city...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeCities", "Account")
                          .Data("filterCities");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("states")
            )

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Garages, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownList()
              .Name("garages")
              .OptionLabel("Select garage...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeGarages", "Account")
                          .Data("filterGarages");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("cities")
            )

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RequestDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlacesCount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PlacesCount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@*<script>
            function filterCities() {
                return {
                    states: $("#states").val()
                };
            }
</script>

<script>
    function filterGarages() {
                return {
                    cities: $("#cities").val()
                };
            }
</script>*@

<script>
    $(document).ready(function () {
        var states = $("#states").data("kendoDropDownList"),
            cities = $("#cities").data("kendoDropDownList"),
            garages = $("#garages").data("kendoDropDownList");

        $("#get").click(function () {
            var stateInfo = "\nState: { id: " + states.value() + ", name: " + states.text() + " }",
                cityInfo = "\nCity: { id: " + cities.value() + ", name: " + cities.text() + " }",
                garageInfo = "\nGarage: { id: " + garages.value() + ", name: " + garages.text() + " }";


        });
    });
</script>

