@model TheGarage.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group k-content">
        @Html.LabelFor(m => m.Companies, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownList()
              .Name("companies")
              .OptionLabel("Select company...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeCompany", "Account");
                  });
              })
            )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Garages, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownList()
              .Name("garages")
              .OptionLabel("Select garages...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetCascadeGarages", "Account")
                          .Data("filterGarages");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("companies")
            )

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<script>
            function filterGarages() {
                return {
                    companies: $("#companies").val()
                };
            }
</script>

<script>
    $(document).ready(function () {
        var companies = $("#companies").data("kendoDropDownList"),
            garages = $("#garages").data("kendoDropDownList")

        $("#get").click(function () {
            var companyInfo = "\nCompany: { id: " + companies.value() + ", name: " + companies.text() + " }",
                garageInfo = "\nGarage: { id: " + garages.value() + ", name: " + garages.text() + " }";

            alert("Order details:\n" + companyInfo + garageInfo);
        });
    });
</script>

